body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff7e6;
    color: #333;
}

header {
    background-color: #ff6f61;
    color: white;
    text-align: center;
    padding: 30px 20px;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header p {
    font-size: 18px;
}

section{
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 12px;
}
footer{
    background-color: #ff6f61;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
h2{
    color: #ff6f61;
}

.productos{
    text-align: center;
}

.tarjetas{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.tarjeta{
    background-color: #fff7e6;
    padding: 20px;
    border-radius: 15px;
    width: 250px;
}

.tarjeta h3{
    color: #ff6f61;

}

.tarjeta button{
    background-color: #ff6f61;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

.tarjeta button:hover{
    background-color: #ff3b2f;

}

.novedades h2 {
    text-align: center;
    color: #7b3fe4;
}
a{
    text-decoration: none;
    color: #ff6f61;
}
a:hover{
    text-decoration: underline;
}

.btn{
    display: inline-block;
    background-color: #ff6f61;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 10px;
}

.btn:hover{
    background-color: #ff3b2f;
}

nav{
    background-color: #ff3b2f;
    padding: 10px;
    text-align: center;
}

nav a{
    color: white;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover{
    text-decoration: underline;
}

@media (max-width: 768px){

    nav a {
        display: block;
        margin: 10px 0;
    }
    header h1{
        font-size: 28px;
    }
    header p{
        font-size: 16px;
    }

.tarjetas{
    flex-direction: column;
    align-items: center;
}
section {
    margin: 20px;
}
}

